<!-- Início do header -->
<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand"  [routerLink]="['/']" >
      <img src="../../assets/img/marca-nature-invest.png" class="d-inline-block align-top img-responsive" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul id="header-ul" class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/campanha']">criar campanha</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">como funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4000/admin.html">Admin</a>
        </li>
      </ul>
      <mt-user-detail></mt-user-detail>
    </div>
  </nav>
</header>
<!-- Fim do header -->
