

			<div class="card">
  				
      				<!--<img src="" imgPreview [image]="item?._file" class="img-responsive card-img-top" />-->

    
   				
  					<div class="card-body">
    					<h4 class="card-title">Nature Invest</h4>
    					<h6 class="card-subtitle mb-2 text-muted"> </h6>
    					<p class="card-text text-justify descricoes_destaque">Arrecadar Dinheiro</p>
  					</div>

  					<hr>
  						<table class="table informacoes" style="width: 100%" align="center">
    						<tr>
      							<td><span class="iconsize"></span></td>
      							<td>Nome Categoria</td>
    						</tr>
    							<tr>
      								<td><span class="iconsize icon-localizacao"></span></td>
      								<td>Goiás</td>
    							</tr>
    								<tr>
      									<td>BRL</td>
      									<td >100.000 </td>

    								</tr>

 				 		</table>
			</div>


