.user-menu>span{ /**/
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #000;
}
.user-menu a{
  color: #000;
  cursor: pointer
}
@media (max-width: 991px){
  .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
  }
  .btn-entrar {
    color: #000;
  }
  .box-login {
    color: #000;
  }
}
