<form #formEquipe="ngForm" novalidate>
  <div class="from-row" >
    <div class="form-group">
      <label for="InputNome" class="col-form-label">Nome Mambro</label>
      <input type="text" class="form-control" name="name" ngModel id="InputNome" placeholder="Luis C. Freire">
    </div>
    <div class="form-group">
      <label for="InputEmail" class="col-form-label">Email</label>
      <input type="Email" class="form-control" name="email" ngModel id="InputEmail" placeholder="luis.c@gmail.com">
    </div>
    <div class="form-group">
      <label for="InputTelefoneMembro" class="col-form-label">Telefone</label>
      <input type="text" class="form-control" name="telefone" ngModel id="InputTelefoneMembro" placeholder="(61) 98766-9087">
    </div>
  </div>

  <div class="form-group">
    <button type="button" (click)="addEquipe(formEquipe.value)" class="btn btn-success">Adicionar Membro</button>
  </div>
</form>
<div class="form-row" style="margin-top: 35px" class="col-md-12 table-responsive" *ngIf="items.length > 0">

  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Membro da Equipe</li>
  </ol>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Nome Membro</th>
      <th class="text-center">Email</th>
      <th class="text-center">Telefone</th>
      <th class="text-right"></th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of items">
      <td class="text-center">{{item.name}}</td>
      <td class="text-center">{{item.email}}</td>
      <td class="text-center">{{item.telefone}}</td>
      <td class="text-right">
        <a (click)="emitRemove(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
      </td>
    </tr>

    </tbody>
  </table>
</div>



