<section class="content-header">
</section>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content">
    <div class="row">
        <div style="width: 100%; height: 400px">
            <carousel [sources]="imageSources" [config]="config">
            </carousel>
          </div>
    </div>
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row" style="margin-top: 50px">
    <div class="col-6 col-md-4">Aqui vai ser Imagem do Projeto</div>
    <div class="col-6 col-md-4">Aqui vai ser preview descricao projeto</div>
    <div class="col-6 col-md-4">
        <ul>
            <li class="categoriasCampanha" *ngFor="let item of categorias">
                <a href="#" class="categoria mobilidade-urbana">
                    <i class="iconsize {{item.icon}}"></i>
                    <span class="espacoRight">{{item.name}}</span>
                </a>
            </li>
            <li class="categoriasCampanha">
                <a class="btn btn-success btn-lg" >VER MAIS CAMPANHAS</a>
            </li>
        </ul>

    </div>
</div> 

</section>


<!-- INÍCIO DO CONTEÚDO
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <h1>Bem vindo ao Meat!</h1>
    <p>
      Está com fome? Peça e receba em casa.
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/restaurantes']">Ver Restaurantes</a>
  </div>

</section>
<! FIM DO CONTEÚDO -->

