<div class="container">
	<div class="row">

		<div class="col-12 col-md-8" align="justify">
			<font><h2>Nature Invest Project</h2></font>	
				<p>
  					Morbi a metus. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Nullam sapien sem, ornare ac, nonummy non, lobortis a, enim. Nunc tincidunt ante vitae massa. Duis ante orci, molestie vitae, vehicula venenatis, tincidunt ac, pede. Nulla accumsan, elit sit
				</p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/FQbRQ5YqUto" frameborder="0" allowfullscreen></iframe>
			
		</div>

  			<div class="col-6 col-md-4">
  				<div class="card">
      				<!--<div *ngFor="let item of uploader.queue">
          				<img src="" imgPreview [image]="item?._file" class="img-responsive card-img-top" />

        
       				</div>-->
      					<div class="card-body">
        					<h4 class="card-title">Nature Invest</h4>
        					<h6 class="card-subtitle mb-2 text-muted"> </h6>
        					<p class="card-text text-justify descricoes_destaque">Arrecadar Dinheiro</p>
      					</div>

      					<hr>
      						<table class="table informacoes" style="width: 100%" align="center">
        						<tr>
          							<td><span class="iconsize"></span></td>
          							<td>Nome Categoria</td>
        						</tr>
        							<tr>
          								<td><span class="iconsize icon-localizacao"></span></td>
          								<td>Goiás</td>
        							</tr>
        								<tr>
          									<td>BRL</td>
          									<td >100.000 </td>

        								</tr>

     				 		</table>
     
      							<button type="button" class="btn btn-primary btn-lg">Button</button>
     
        							<div class="row">
        		 						<button type="button" class="btn btn-primary btn-lg">Lembre-me</button>
      									<button >
      										<i class="fa fa-twitter"></i> 
  										</button>
      									<button>
      										<i class="fa fa-facebook"></i> 
      									</button>
      									<button>
      										<i class="fa fa-google-plus"></i>
      									</button>
      									<button>
       										<i class="fa fa-envelope glyphicon-glyphicon"></i> 
       									</button>
       									<button>
       										<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
       									</button>
     								</div>
    			</div>
  			</div>

	
			
	</div>	

</div>
		<!--MENU-->
	<div class="container" align="justify">
				<div class="row">
					<div class="col-lg-12">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						  	<li class="nav-item">
						    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Campanha</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">FAQ</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Atualização</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="pills-comentarios-tab" data-toggle="pill" href="#pills-comentarios" role="tab" aria-controls="pills-comentarios" aria-selected="false">Comentários</a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" id="pills-comunidade-tab" data-toggle="pill" href="#pills-comunidade" role="tab" aria-controls="pills-comunidade" aria-selected="false">Comunidade</a>
						  </li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
						  <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
						  	<div class="col-12 col-md-8" align="justify">
						  		<h3>Sobre</h3>
						  			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi gravida libero nec velit. Morbi scelerisque luctus velit. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam. Proin mattis lacinia justo. Vestibulum facilisis auctor urna. Aliquam in lorem sit amet leo accumsan lacinia. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Phasellus et lorem id felis nonummy placerat. Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. Aenean vel massa quis mauris vehicula lacinia. Quisque tincidunt scelerisque libero. Maecenas libero. Etiam dictum tincidunt diam. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Suspendisse nisl. Sed convallis magna eu sem. Cras pede libero, dapibus nec, pretium sit amet, tempor quis, urna.</p><h3>Alguma imagem da campanha</h3>
						  			<!--Imagem da campanha-->

						  			<img src="http://www.mimiveg.com.br/wp-content/uploads/2016/08/desmatamento-Amazonia.jpg" height="360px" width="750px" class="img-responsive"><br /><figcaption class="px2">"Colabore na ajuda ao desmatamento"</figcaption><br />
						  			<p> Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo, vulputate eget, mollis sed, tempor sed, magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam neque. Curabitur ligula sapien, pulvinar a, vestibulum quis, facilisis vel, sapien. Nullam eget nisl. Donec vitae arcu.
</p>
						  			<img src="http://www.redeto.com.br/images/noticia/20131116120450_desmatamento.jpg" height="360px" width="750px" class="img-responsive"><br /><figcaption class="px2">"Estão acabando com o pulmão do mundo"</figcaption><br />

						  			<img src="http://globoesporte.globo.com/platb/files/985/2014/06/poddypower.jpg" class="img-responsive"><br /><figcaption class="px2">"E vai ficar pior"</figcaption><br />
						  			<p> Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie nisl. Fusce eget urna. Curabitur vitae diam non enim vestibulum interdum. Nulla quis diam. Ut tempus purus at lorem.
</p>
						  </div>
						  <div class="col-6 col-md-4">
								  	<div class="row">
								  	</div>
					    				<div class="card">
					      				<!--<div*ngFor="let item of uploader.queue">-->
					          				<!--<img src="" imgPreview [image]="item?._file" class="img-responsive card-img-top" />-->

					        
					       				</div>
				      			<div class="card-group">
										<div class="card">
										    <img class="card-img-top" src="..." alt="Card image cap">
											 <div class="card-body">
											      <h4 class="card-title">Card title</h4>
											      <p class="card-text">Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat.</p>

												<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											</div>
										 </div>


				    			</div><br><br>
				    			<div class="card-group">
										<div class="card">
										    <img class="card-img-top" src="..." alt="Card image cap">
											 <div class="card-body">
											      <h4 class="card-title">Card title</h4>
											      <p class="card-text"> Maecenas ipsum velit, consectetuer eu, lobortis ut, dictum at, dui. In rutrum. Sed ac dolor sit amet purus malesuada congue. In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Suspendisse sagittis ultrices augue. Mauris metus. Nunc dapibus tortor vel mi dapibus sollicitudin. Etiam posuere lacus quis dolor. Praesent id justo in neque elementum ultrices. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In convallis. Fusce suscipit libero eget elit. Praesent vitae arcu tempor neque lacinia pretium. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus.
</p>

												<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											</div>
										 </div>

										 
				    			</div><br><br>
				    			<div class="card-group">
										<div class="card">
										    <img class="card-img-top" src="..." alt="Card image cap">
											 <div class="card-body">
											      <h4 class="card-title">Card title</h4>
											      <p class="card-text">  Aenean placerat. In vulputate urna eu arcu. Aliquam erat volutpat. Suspendisse potenti. Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere. Nullam lectus justo, vulputate eget, mollis sed, tempor sed, magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam neque. Curabitur ligula sapien, pulvinar a, vestibulum quis, facilisis vel, sapien. Nullam eget nisl. Donec vitae arcu.

</p>

												<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											</div>
										 </div>

										 
				    			</div><br><br>
				    			<div class="card-group">
										<div class="card">
										    <img class="card-img-top" src="..." alt="Card image cap">
											 <div class="card-body">
											      <h4 class="card-title">Card title</h4>
											      <p class="card-text">   Praesent in mauris eu tortor porttitor accumsan. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aenean fermentum risus id tortor. Integer imperdiet lectus quis justo. Integer tempor. Vivamus ac urna vel leo pretium faucibus. Mauris elementum mauris vitae tortor. In dapibus augue non sapien. Aliquam ante. Curabitur bibendum justo non orci.


</p>

												<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											</div>
										 </div>

										 
				    			</div><br><br>
				    			<div class="card-group">
										<div class="card">
										    <img class="card-img-top" src="..." alt="Card image cap">
											 <div class="card-body">
											      <h4 class="card-title">Card title</h4>
											      <p class="card-text">   Etiam posuere quam ac quam. Maecenas aliquet accumsan leo. Nullam dapibus fermentum ipsum. Etiam quis quam. Integer lacinia. Nulla est. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Integer vulputate sem a nibh rutrum consequat. Maecenas lorem. Pellentesque pretium lectus id turpis. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce wisi. Phasellus faucibus molestie nisl. Fusce eget urna. Curabitur vitae diam non enim vestibulum interdum. Nulla quis diam. Ut tempus purus at lorem.

</p>

												<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
											</div>
										 </div>

										 
				    			</div><br><br>


						  </div>
						</div>
								<!--Botão,listas com perguntas aos desenvolvedores da campanha-->

						  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
						  	<!--<div class="dropdown">

						  			
 		

								  	<ul class="list-group col-12 col-md-8" >
									  <li class="list-group-item"><button class="btn2">Cras justo odio</button><div class="showtext" hidden="true">
									  	<p >fuck</p>
									  </div></li><br>
									  <li class="list-group-item">Dapibus ac facilisis in</li><br>
									  <li class="list-group-item">Morbi leo risus</li><br>
									  <li class="list-group-item">Porta ac consectetur ac</li><br>
									  <li class="list-group-item">Vestibulum at eros</li><br>
									    <li class="list-group-item">Cras justo odio</li><br>
									  <li class="list-group-item">Dapibus ac facilisis in</li><br>
									  <li class="list-group-item">Morbi leo risus</li><br>
									  <li class="list-group-item">Porta ac consectetur ac</li><br>
									  <li class="list-group-item">Vestibulum at eros</li><br>
									</ul>
						  	</div>-->
						  	<div class="col-6 col-md-4">
						  		<p>Morbi a metus. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Nullam sapien sem, ornare ac, nonummy non, lobortis a, enim. Nunc tincidunt ante vitae massa.</p>
						  		<span>
						  			<button type="button" class="btn btn-dark">Pergunte</button>
						  		</span>
						  	</div>
						</div>
						  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
						  	<div class="col-12 col-md-6">
						  		
									<p class="grid-post__date">
										<time datetime="2017-11-30T15:49:27-05:00" data-format="MMMM D" class="js-adjust-time">November 30</time>
									</p>
										<h2 class="grid-post__title hover-item-highlight-teal-500">
											Our Experience at Nasscom Game Development Conference
										</h2>
									<div class="grid-post__content">
										<p>Greetings Raji Family.<br><br>In today’s update we’ll share some photos and a short time lapse video from our experience at Nasscom Game Development Conference. It is the only conference in... <u class="nowrap">Read more</u></p>
									</div>
										<div class="grid-post__metadata">
											<span>
												1 Comment
											</span>
												<span>
													11 likes
												</span>
										</div>
								
						  	</div>
						  	<div class="col-12 col-md-6">
						  		<p class="grid-post__date">
										<time datetime="2017-11-30T15:49:27-05:00" data-format="MMMM D" class="js-adjust-time">November 30</time>
									</p>
										<h2 class="grid-post__title hover-item-highlight-teal-500">
											Our Experience at Nasscom Game Development Conference
										</h2>
									<div class="grid-post__content">
										<p>Greetings Raji Family.<br><br> Nam quis nulla. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. Nulla non arcu lacinia neque faucibus fringilla. Nulla non lectus sed nisl molestie malesuada. Proin in tellus sit amet nibh dignissim sagittis. Vivamus luctus egestas leo. Maecenas sollicitudin. Nullam rhoncus aliquam metus. Etiam egestas wisi a erat.
... <u class="nowrap">Read more</u></p>
									</div>
										<div class="grid-post__metadata">
											<span>
												1 Comment
											</span>
												<span>
													11 likes
												</span>
										</div>
								
						  	</div>
						  	<div class="col-12 col-md-6">
						  		<p class="grid-post__date">
										<time datetime="2017-11-30T15:49:27-05:00" data-format="MMMM D" class="js-adjust-time">November 30</time>
									</p>
										<h2 class="grid-post__title hover-item-highlight-teal-500">
											Our Experience at Nasscom Game Development Conference
										</h2>
									<div class="grid-post__content">
										<p>Greetings Raji Family.<br><br>Morbi leo mi, nonummy eget, tristique non, rhoncus non, leo. Nullam faucibus mi quis velit. Integer in sapien. Fusce tellus odio, dapibus id, fermentum quis, suscipit id, erat. Fusce aliquam vestibulum ipsum. Aliquam erat volutpat. Pellentesque sapien. Cras elementum. Nulla pulvinar eleifend sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque porta. Vivamus porttitor turpis ac leo.... <u class="nowrap">Read more</u></p>
									</div>
										<div class="grid-post__metadata">
											<span>
												1 Comment
											</span>
												<span>
													11 likes
												</span>
										</div>
								
						  	</div>
						  Atualização</div>
						 <div  class="tab-pane fade" id="pills-comentarios" role="tabpanel" aria-labelledby="pills-comentarios-tab">
						  	<div class="col-12 col-md-8">
						  		<li class="NS_comments__comment collaborator comment item latest_comment mb3 py3" id="comment-18841401">
									<div class="comment-inner">
										<div class="avatar left">
											<a href="#"><img class="circle" alt="" style="height: auto;" src="#" width="80" height="80"></a>
										</div>
											<div class="main clearfix pl3 ml3">
												<h3>
													<a class="author green-dark" href="#">Paulo H</a>
														<span class="creator-badge relative" style="">Criador</span>

														<span class="date normal f6">
															<a class="grey-dark" href="#"><data class="Comment" data-format="distance_date" data-value="2017-12-01T07:02:16-05:00" itemprop="Comment[created_at]">about 6 hours ago</data></a>
														</span>
												</h3>
													<p> Morbi a metus. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Nullam sapien sem, ornare ac, nonummy non, lobortis a, enim. Nunc tincidunt ante vitae massa. Duis ante orci, molestie vitae, vehicula venenatis, tincidunt ac, pede. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Etiam commodo dui eget wisi. Donec iaculis gravida nulla. Donec quis nibh at felis congue commodo. Etiam bibendum elit eget erat.
</p>
													<span class="loading icon-loading-small" style="display:none;"></span>
											</div>
									</div>
							</li>
						  	</div>
						  	<div class="col-12 col-md-8">
						  		<li class="NS_comments__comment collaborator comment item latest_comment mb3 py3" id="comment-18841401">
									<div class="comment-inner">
										<div class="avatar left">
											<a href="#"><img class="circle" alt="" style="height: auto;" src="#" width="80" height="80"></a>
										</div>
											<div class="main clearfix pl3 ml3">
												<h3>
													<a class="author green-dark" href="#">Matheus F</a>
														<span class="creator-badge relative" style="">Colaborador</span>

														<span class="date normal f6">
															<a class="grey-dark" href="#"><data class="Comment" data-format="distance_date" data-value="2017-12-01T07:02:16-05:00" itemprop="Comment[created_at]">about 4 hours ago</data></a>
														</span>
												</h3>
													<p>  Praesent in mauris eu tortor porttitor accumsan. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Aenean fermentum risus id tortor. Integer imperdiet lectus quis justo. Integer tempor. Vivamus ac urna vel leo pretium faucibus. Mauris elementum mauris vitae tortor. In dapibus augue non sapien. Aliquam ante. Curabitur bibendum justo non orci.

</p>
													<span class="loading icon-loading-small" style="display:none;"></span>
											</div>
									</div>
							</li>
						  	</div>
						</div>

						   <div class="tab-pane fade" id="pills-comunidade" role="tabpanel" aria-labelledby="pills-comunidade-tab">Comunidade</div>
						</div>
					</div>
			
			</div>
		